form {
background:#e4efe2;
border:1px solid #ccc;
padding:5px;
}

form th {
padding-right:0.5em;
text-align:right;
}

form td {
color:#999;
}

textarea,input,button,select {
background:#fff;
border:1px solid #ccc;
margin-bottom:5px;
margin-top:5px;
}

textarea,input[type="text"],input[type="password"] {
width:100%;
}

input[type="submit"] {
background-color:#ccc;
border:1px solid #000;
color:#000;
}
