.post_text p {
margin-bottom:10px;
margin-top:10px;
}

.post_text h1,h2,h3,strong {
font-weight:700;
}

.post_text h1 {
font-size:130%;
}

.post_text h2 {
font-size:120%;
}

.post_text h3 {
font-size:110%;
}

table.post_text {
border:1px solid #ccc;
}

ol.post_text,ul.post_text {
margin-left:2em;
margin-right:2em;
}

.post_text ol {
list-style-type:decimal;
}

.post_text ul {
list-style-type:square;
}

.post_text blockquote,pre {
background:#EEE none repeat scroll 0;
margin-left:1em;
padding-left:0.5em;
}

.post_text pre {
border-left:1px solid #363;
}

.post_text code {
font-family:courier;
}

span.post_menuright {
float:right;
font-size:77%;
padding-right:10%;
}

span.post_menuleft {
font-size:77%;
padding-left:10%;
}

span.post_summary {
color:#B0BFAC;
}

div.post_reported {
border:1px solid #f60;
}

hr.postend {
background-color:#CCC;
border:0 solid #CCC;
height:1px;
width:80%;
}

hr.firstpost {
background-color:#000;
border:0 solid #000;
height:1px;
width:80%;
}

div.post_censored {
border:2px solid red;
}

p.post_header {
padding-left:2em;
}

#snap_markdown_guide p,table,code,tr {
border:none;
color:#000;
font-size:100%;
}

#snap_markdown_guide code {
background-color:#eee;
}

#snap_markdown_guide {
background:#efe;
border:1px solid #666;
padding:1em;
}

#snap_markdown_guide p {
margin-bottom:0.5em;
}

#snap_markdown_guide table {
width:100%;
}

.post_text em,i,#snap_markdown_guide em {
font-style:italic;
}
