A {
    text-decoration: none;
    /* color: #ACB1BF; */
    color: #099;
}

HR {
    height: 1px;
    background-color: black;
    border: 0px solid black;
}


.errorlist {
    color: red;
}

div.index_title {
    background-color: #D9D4C3;
    border-bottom: 1px solid #000;
    padding: 3px;
}

div.thread {
    padding: 0.2em 0.5em 0.2em 1em;
    border-bottom: 1px solid #999;
    /* background: #f9fff6; */
    background: #CDD;
    /* background: #ccf; */
}

div.thread A {
    color: #066;
}

div.forummenu, .forummenu-first{
    padding: 5px;
    /* background: #E6ECFF; */
    background: #CDD;
    border-bottom: 1px solid #999;
    font-size: 85%;
}

.forummenu-first {
    background-image: url('/media/img/cdd_topleft.png');
    background-position: top right;
    background-repeat: no-repeat;
}

div.forummenu ul{
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

#autocomplete_div .highlight {
    background: yellow;
    font-weight: bold;
}
#autocomplete_div {
    padding-right: 1em;
    position:relative;
    top: -6px;
    z-index: 4000;
    background-color:#cfc;
    color:#333;
    /*border: 1px solid black;*/
    border: none solid solid;
}

/* POSTS & THREADS ***************************************/

div.post_censored {
    border: 2px solid red;
}

div.post_reported {
    border: 1px solid #ff6600;
}

/* TEXTILE ***************************************/
.post_text p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post_text blockquote {
    margin-left: 1em;
    margin-right: 1em;
    background:#EEEEEE none repeat scroll 0%;
    border-left:1px solid #336633;
    margin-left:1em;
    margin-right:1em;
    padding:5px 10px
}

hr.postend {
    width: 80%;
    height: 1px;
    background-color: #CCC;
    border: 0px solid #CCC;
}

hr.firstpost {
    width: 80%;
    height: 1px;
    background-color: black;
    border: 0px solid black;
}


p.post_header {
    padding-left: 2em;
}

p.thread_page_nav {
    font-size: 77%;
    margin-left: 10%;
    margin-right: 10%;
}

p.index_page_nav {
    font-size: 77%;
}

span.thread_menu {
    font-size: 85%;
    float: right;
}

span.post_menuright {
    font-size: 77%;
    padding-right: 10%;
    float: right;
}

span.post_menuleft {
    font-size: 77%;
    padding-left: 10%;
}

span.timesince {
    font-size: 85%;
    color:#999;
}

span.post_summary {
    color: #B0BFAC;
}

div.rpc_message {
    width: 100%;
    text-align: center;
}

p.rpc_message {
    background-color: #f33;
    border: 1px solid black;
}
