<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% block sbreg_head_title %}SNAPBoard registration{% endblock %}</title>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
        <meta name="robots" content="noindex, nofollow" />
        <link type="text/css" rel="stylesheet" href="{{ SNAP_MEDIA_PREFIX }}/css/yui/reset-fonts-grids.css" />
        <link type="text/css" rel="stylesheet" href="{{ SNAP_MEDIA_PREFIX }}/css/center.css" />
        <link type="text/css" rel="stylesheet" href="{{ SNAP_MEDIA_PREFIX }}/css/form.css" />
        <link type="text/css" rel="stylesheet" href="{{ SNAP_MEDIA_PREFIX }}/css/snapboard.css" />    
        <link type="text/css" rel="stylesheet" href="{{ SNAP_MEDIA_PREFIX }}/css/nav.css" />
        {% block sbreg_head %}
        {% endblock %}
    </head>

    <body id="yahoo-com" class="snapboard">
    <div id="doc" class="yui-t7">
    <div class="snapboard">
        <div id="hd">
            {% block sbreg_body_head %}
                <br /><p style="font-size: 150%;"><a href="http://code.google.com/p/snapboard/">SNAPBOARD</a></p>
            {% endblock %}
        </div>
        <div id="bd">
            {% block sbreg_body_main %}
            {% endblock %}
        </div>
        <div id="ft">
            {% block sbreg_body_footer %}
            {% endblock %}
        </div>
    </div>
    </div>
    </body>
</html>

