div.snapboard #absolute_center {
	position:absolute;
	top: 25%;
	left: 50%;
	width:30em;
	/*margin-top: -9em; /*set to a negative number 1/2 of your height*/
	margin-left: -15em; /*set to a negative number 1/2 of your width*/
	/*border: 1px solid black;
	/*background-color: #f3f3f3;*/
}
