{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}SNAPBoard{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{{ SNAP_MEDIA_PREFIX }}/css/yui/reset-fonts-grids.css" />
    <link type="text/css" rel="stylesheet" href="{{ SNAP_MEDIA_PREFIX }}/css/form.css" />    
    <link type="text/css" rel="stylesheet" href="{{ SNAP_MEDIA_PREFIX }}/css/snapboard.css" />    
    <link type="text/css" rel="stylesheet" href="{{ SNAP_MEDIA_PREFIX }}/css/nav.css" />    
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url snapboard_feeds "latest" %}" />
    <script type="text/javascript">
        var SNAPBOARD_URLS = {
                'rpc_preview': '{% url snapboard_rpc_preview %}',
                'rpc_action': '{% url snapboard_rpc_action %}',
                'rpc_postrev': '{% url snapboard_rpc_postrev %}'
            },
            SNAP_POST_FILTER = '{{ SNAP_POST_FILTER }}';
    </script>
    <script type="text/javascript" src="{% url snapboard_js_i18n %}"></script>
    <script src="{{ SNAP_MEDIA_PREFIX }}/js/yui/yahoo-dom-event.js" type="text/javascript"></script>
    <script src="{{ SNAP_MEDIA_PREFIX }}/js/yui/connection-min.js" type="text/javascript"></script>
    <script src="{{ SNAP_MEDIA_PREFIX }}/js/thread.js" type="text/javascript"></script>
    <script type="text/javascript">YAHOO.util.Event.onDOMReady(procAllTimeSince);</script>
    {% block snap_extra_head %}{% endblock %}
</head>
<body id="yahoo-com" class="snapboard">
<div id="doc2" class="yui-t4"><!-- "doc" here for example only; use any page width -->
<div class="snapboard">
    <div id="hd">
        <br />
        {% block site_title %}<p><a href="http://code.google.com/p/snapboard/">SNAPBOARD</a></p>{% endblock %}
        <br />
        <div id="navigation">
            <ul>
                <li><a href="{% url snapboard_index %}"><span>{% trans "All Discussions" %}</span></a></li>
                <li><a href="{% url snapboard_category_index %}"><span>{% trans "Categories" %}</span></a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url snapboard_favorite_index %}"><span>{% trans "Favorites" %}</span></a></li>
                <li><a href="{% url snapboard_private_index %}"><span>{% trans "Private Posts" %}</span></a></li>
                {% if thr %}
                <li><a href="{% url snapboard_new_thread thr.category.slug %}"><span style="color: red;">{% trans "Start Thread" %}</span></a></li>
                {% endif %}
                {% if category %}
                <li><a href="{% url snapboard_new_thread category.slug %}"><span style="color: red;">{% trans "Start Thread" %}</span></a></li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
    <hr />

    <div id="bd">
        <div id="yui-main">
            <div class="yui-b">
                {% if messages %}
                    <div class="messagelist">
                        <ul class="messagelist">
                            {% for msg in messages %}
                                <li>{{ msg }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %} 
                {% block snapboard_header %}
                {% endblock %}
                {% block snapboard_main %}
                {% endblock %}
            </div>
        </div>
        <div class="yui-b">
            {% block snapboard_panel %}
                {% include "snapboard/include/side_panel.html" %}
            {% endblock %}
        </div>

    </div>
    <div id="ft">
        <br />
        <div style="text-align:center; font-size: 85%;">
            <p>{% trans "This community is powered by" %} <a href="http://code.google.com/p/snapboard/">Snapboard</a></p> <br />
            <a href="http://validator.w3.org/check/referer" title="Check the validity of this site&#8217;s XHTML">xhtml</a> &nbsp; 
            <a href="http://jigsaw.w3.org/css-validator/check/referer" title="Check the validity of this site&#8217;s CSS">css</a> &nbsp; 
        </div>
        <br />
    </div>
</div>
</div>
</body>
</html>

<!--
vim: ai ts=4 sts=4 et sw=4 
-->
