{% extends "snapboard/base_forum.html" %}

{% block snapboard_header %}
<b>
    Topics Category List
</b>
{% endblock %}

{% block snapboard_main %}
    {% if cat_list %}
        {% for category in cat_list %}
        <div class="thread">
            <span style="font-size:medium;">
                <b><a href="/snapboard/threads/category/{{ category.id }}">{{ category.label }}</a></b>
            </span>
            <span style="color: #999; font-size: small; float: right;">
                {% if category.moderators %}
                moderators:  {{ category.moderators }}
                {% endif %}
            </span>
            <br />
            <span style="color: #999; padding-left:2em; font-size:small;">
                {{ category.thread_count }} discussions
            </span>
        </div>
        {% endfor %}
    {% else %}
        <p>No categories are available.</p>
    {% endif %}
{% endblock %}
