{% extends "snapboard/base_forum.html" %}
{% load i18n %}

{% block snapboard_main %}
    <div class="index_title">
    <h2>
    {% trans "Topics Category List" %}
    </h2>
    </div>
    {% if cat_list %}
        {% for category in cat_list %}
        <div class="thread">
            <span class="name">
                <b><a href="{% url snapboard_category_thread_index slug=category.slug %}">{{ category.label }}</a></b>
            </span>
            <span class="moderators">
                {% if category.moderators %}
                {% trans "moderators" %}:  {{ category.moderators }}
                {% endif %}
            </span>
            <br />
            <span class="count">
                {% blocktrans count category.thread_count as cnt %}{{ cnt }} discussion{% plural %}{{ cnt }} discussions{% endblocktrans %}
            </span>
        </div>
        {% endfor %}
    {% else %}
        <p>{% trans "No categories are available." %}</p>
    {% endif %}
{% endblock %}