{% extends "snapboard/base_forum.html" %}
{% load i18n %}

{% block snapboard_main %}
    {% if user.is_authenticated %}
    <form action="" method="POST" id="add_post_div">
        <script type="text/javascript" src="{{ SNAP_MEDIA_PREFIX }}/js/yui/autocomplete-min.js"></script>
        <div id="toolbar" style="">
            {% ifequal SNAP_POST_FILTER "markdown" %}
                <button onclick="return surround('**');"><b>{% trans "B" %}</b></button>
                <button onclick="return surround('_');"><i>{% trans "I" %}</i></button>
                <button onclick="return do_prefix('> ');">{% trans "quote" %}</a></button>
                <button onclick="return do_prefix('    ');">{% trans "code" %}</button>
                <button onclick="return do_prefix('* ');">{% trans "list" %}</button>
                <button onclick="return insert_img();">{% trans "img" %}</button>
                <button onclick="return insert_link();"><u>{% trans "link" %}</u></button>
                <button onclick="return do_insert('&#x263a;');">☺</button>
                <!--<button onclick="return do_insert('&#x2639;');">☹</button> not in Arial wtf‽‽ --> 
                <button onclick="return do_insert('&#x263b;');">☻</button>
            {% else %}{% ifequal SNAP_POST_FILTER "bbcode" %}
                <button onclick="return surround('[b]','[/b]');"><b>{% trans "B" %}</b></button>
                <button onclick="return surround('[i]','[/i]');"><i>{% trans "I" %}</i></button>
                <button onclick="return surround('[quote]','[/quote]');">{% trans "quote" %}</a></button>
                <button onclick="return surround('[code]','[/code]');">{% trans "code" %}</button>
                <button onclick="return do_prefix('[*]');">{% trans "list" %}</button>
                <button onclick="return insert_img();">{% trans "img" %}</button>
                <button onclick="return insert_link();"><u>{% trans "link" %}</u></button>
                <button onclick="return do_insert('&#x263a;');">☺</button>
                <button onclick="return do_insert('&#x263b;');">☻</button>
            {% endifequal %}{% endifequal %}
        </div>
        <table class="form">
            {{ form.as_table }}
            <tr><th></th>
                <td><input type="submit" value="{% trans "Start Subject" %}" /> <input type="reset" value="{% trans "Reset" %}" />
            </td></tr>
        </table>
    </form>
    {% else %}
    <p>{% trans "You must be signed in to start a new discussion." %}</p>
    {% endif %}
{% endblock %}
<!--
vim: ai ts=4 sts=4 et sw=4 
-->
