{% extends "snapboard/base_forum.html" %}

{% block snapboard_main %}
    {% if user.is_authenticated %}
    <div>
        <form method="post" action="." enctype="multipart/form-data">
            <div>
                <label for="id_profile" style="font-size: 150%;">{{ user.username }}'s profile:</label>
                {{ form.profile }}
                {% if form.profile.errors %} {{ form.profile.errors|join:", " }} {% endif %}
            </div>
            <hr />
            <div>
                <p>
                    <label for="id_ppp"></label>
                    {{ form.ppp }} posts per page
                    {% if form.ppp.errors %} {{ form.ppp.errors|join:", " }} {% endif %}
                </p>
                <p>
                    <label for="id_tpp"></label>
                    {{ form.tpp }} threads per page
                    {% if form.tpp.errors %} {{ form.tpp.errors|join:", " }} {% endif %}
                </p>
            </div>
            <hr />
            <p>
                <label for="id_avatar">Avatar Image:</label>
                {{ form.avatar }} {{ form.avatar_file }}
                {% if form.avatar.errors %} {{ form.avatar.errors|join:", " }} {% endif %}
            </p>
            <hr />
            <p>
                <label for="id_notify_email"></label>
                {{ form.notify_email }} Notify by email when watched threads are updated.
            </p>
            <p>
                <label for="id_reverse_posts"></label>
                {{ form.reverse_posts }}  Display newest posts first.
            </p>
            <hr />
            <div>
                <label for="id_frontpage_filters">Front page filters:</label><br />
                {{ form.frontpage_filters }}
                {% if form.frontpage_filters.errors %} {{ form.frontpage_filters.errors|join:", " }} {% endif %}
            </div>
            <input type="submit" value="Update" />
        </form>
    </div>
    {% endif %}
{% endblock %}
<!--
vim: ai ts=4 sts=4 et sw=4 
-->
