{% extends "snapboard/base_forum.html" %}

{% block snapboard_main %}
    {% if user.is_authenticated %}
    <div>
        <form method="post" action="." enctype="multipart/form-data">
            <table style="margin: 5px;">
                <p>{{ form.profile }}</p>
                <p>{{ form.ppp }}</p>
                <p>{{ form.tpp }}</p>
                <p>{{ form.avatar }} {{ form.avatar_file }}</p>
                <p>{{ form.frontpage_filters }}</p>
                <p>{{ form.reverse_posts }}</p>
            </table>
            <input type="submit" value="Update" />
        </form>
    </div>
    {% endif %}
{% endblock %}
<!--
vim: ai ts=4 sts=4 et sw=4 
-->
