{% extends "snapboard/base_forum.html" %}
{% load i18n %}

{% block side_panel %}
{% endblock %}

{% block snapboard_main %}
    {% if not user.is_authenticated %}
    <div style="margin-left: 25%; margin-right: 25%;">
        <form method="post" action="{% url auth_login %}">
            <table style="margin: 5px;">
            {{ form.as_table }}
            </table>
            <p>
            <input type="submit" value="{% trans "Sign In" %}" />
            <input type="hidden" name="next" value="{{ next }}" />
            </p>
        </form>
    </div>
    {% else %}
    <p>{% trans "You are already signed in." %}</p>
    {% endif %}
{% endblock %}
{#
<!--
vim: ai ts=4 sts=4 et sw=4 
-->
#}

