{% extends "snapboard/base_forum.html" %}
{% load i18n pagination_tags snapboard_tags %}

{% block snapboard_main %}
    <div class="index_title">
        <h2>{{ title }}</h2>
        {% autopaginate threads user_settings.tpp %}
        {% paginate %}
    </div>

    {% if threads %}
        {% for thread in threads %}
        <div class="thread">
            <p>
                <span>{{ thread.post_count }} {% trans "posts started by" %} <b>{{ thread.starter }}</b></span>
                <span>
                    <b>
                        {% if thread.gsticky %}
                        {% trans "STICKY" %}
						{% else %}
							{% if category and thread.csticky %}
							{% trans "STICKY" %}
							{% endif %}
                        {% endif %}
                        {% if thread.closed %}
                        {% trans "CLOSED" %}
                        {% endif %}
                        <a href="{% url snapboard_thread thread.category.slug thread.slug %}">{{ thread.subject }}</a>
                    </b>
                </span>
            </p>
            <span>
                {% trans "last updated" %}
                <span class="datetime">{{ thread.date|date:"r T" }}<span class="timestamp">{{ thread.date|timestamp }}</span></span>
                {% ifnotequal thread.last_poster thread.starter %}
                {% trans "by" %} {{ thread.last_poster }}
                {% endifnotequal %}
            </span>
            <span>
                {% trans "category" %}:
                <a href="{% url snapboard_category_thread_index thread.category.id %}">
                    {{ thread.category }}
                </a>
            </span>
        </div>
        {% endfor %}
        {% paginate %}{# XXX It's inefficient calling that twice for the same result #}

    {% else %}
        <p>{% trans "No threads are available." %}</p>
    {% endif %}
{% endblock %}