{% extends "snapboard/base_forum.html" %}
{% load i18n pagination_tags snapboard_tags %}

{% block snap_extra_head %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ SNAP_MEDIA_PREFIX }}/css/post.css" />
{% endblock %}

{% block snapboard_main %}
    <div id="thread_rpc_feedback" class="rpc_message"></div>
    <p>
        <span class="thread_menu">
            {% if user.is_staff %}
                <span>
                    <a id="csticky{{ thr.id }}" href="#" onclick="set_csticky('{{ thr.id }}');">
                        {{ thr.csticky|yesno:_("unset csticky,set csticky") }}
                    </a> 
                </span>
                &#149;
                <span>
                    <a id="gsticky{{ thr.id }}" href="#" onclick="set_gsticky('{{ thr.id }}');">
                        {{ thr.gsticky|yesno:_("unset gsticky,set gsticky") }}
                    </a> 
                </span>
                &#149;
                <span>
                    <a id="close{{ thr.id }}" href="#" onclick="set_close('{{ thr.id }}');">
                        {{ thr.closed|yesno:_("open thread,close thread") }}
                    </a> 
                </span>
            {% endif %}
            {% if user.is_authenticated %}
                &#149;
                <span>
                    <a id="watch{{ thr.id }}" href="#" onclick="set_watch('{{ thr.id }}');">
                        {{ watched|yesno:_("don't watch,watch") }}
                    </a> 
                </span>
            {% endif %}
        </span>
        <b style="font-size: large;">
            <a href="{% url snapboard_category_thread_index thr.category.slug %}">{{ thr.category }}</a>:
            {{ thr.subject }}
        </b>
    </p>
    <br />

    {% autopaginate posts user_settings.ppp %}
    {% paginate %}

    {% include "snapboard/include/show_posts.html" %}

    {% paginate %}

    <br />
    {% include "snapboard/include/addpost.html" %}

{% endblock %}
<!--
vim: ai ts=4 sts=4 et sw=4 
-->
