{% extends "sbreg/base_sbreg.html" %}

{% block sbreg_body_main %}
    <div id="absolute_center">
        <br />
        <div style="margin: 0 auto;">
            {% if has_account %}
                <b>You already have an account and are logged in!</b>
            {% endif %}
            {% if created %}
                <b>Please check your email to finish account registration.</b>
            {% endif %}
        </div>

        {% if form %}
        <form action="" method="POST">
            <div style="border-bottom: 1px solid #999999;"><b>User Registration</b></div>
            <table style="margin: 0 auto;" class="form">
                {{ form.as_table }}
                <tr><th></th><td><input type="submit" value="Register"></td></tr>
            </table>
        </form>
        <br />
        <br />
        {% endif %}
    </div>
{% endblock %}
