{% load i18n %}
{% if not thr.closed %}{# and not page_next #}
    {% if user.is_authenticated %}
    <p><b>{% trans "Got something to say?" %}</b></p>
    <form id="add_post_div" action="" method="POST">
        <a name="post_form"></a>
        <p>{{ postform.post }} {{ postform.post.errors }}</p>
        {% if postform.private.errors %}
        {{ postform.private.errors }}
        {% endif %}
        <p>
        <input type="submit" value="{% trans "Post" %}" />
        <input type="button" value="{% trans "Preview" %}" onclick="preview('add_post_div')" />
        </p>
    </form>
    <div style="border: 1px solid #ccc; display: none;">
        <p><b>{% trans "Post Preview:" %}</b></p>
        <div id="snap_preview_addpost" class="post_text">
        </div>
    </div>
    {% else %}
    <p>{% blocktrans with request.path|urlencode as reqpath %}
        You need to <a href="{{ LOGIN_URL }}?next={{ reqpath }}#add_post_div">sign in</a> to post messages.
    {% endblocktrans %}</p>
    {% endif %}
{% endif %}
{% if thr.closed %}
    <p>{% trans "This discussion has been closed by the staff.  You can no longer add posts." %}</p>
{% endif %}