{% load i18n %}
<div id="snap_markdown_guide" style="display:none;">

<p><em>*{% trans "italic" %}*</em> {% trans "or" %} <em>_{% trans "italic" %}_</em>, <strong>**{% trans "bold" %}**</strong> {% trans "or" %} <strong>__{% trans "bold" %}__</strong></p>
<p><code>[{% trans "example" %}](http://www.google.com/ "Title")</code> {% trans "shows up as" %} <a href="http://www.google.com/" title="Title">example</a></p>
<p>Images - <code>![alt text](/path/img.jpg "Title")</code></p>

<table><tr>
        <td style="width: 50%;">
<p>{% trans "Indent lines of code blocks by 4 or more spaces" %}</p>
<pre><code>{% trans "This is a normal paragraph." %}

{% blocktrans %}    This is a preformatted
    code block.{% endblocktrans %}</code></pre>
</td>
<td>
<p>{% trans "Blockquotes use e-mail style quoting" %}</p>
<pre><code>&gt; {% trans "Email-style angle brackets" %}
&gt; {% trans "are used for blockquotes." %}

&gt; &gt; {% trans "And, they can be nested." %}</code></pre>
</td>
</tr></table>

<br />

<table>
    <td style="width: 50%;">
    <p>{% trans "Lists and unordered lists are nestable and mixable." %}</p>
{% blocktrans %}
<pre><code>*   Abacus
    * answer
*   Bubbles
    1.  bunk
    2.  bupkis</code></pre>
    </td>
    <td>
        <p>... shows up as</p>
        <ul>
            <li>Abacus
            <ul><li>answer</li></ul></li>
            <li>Bubbles
            <ol><li>bunk</li>
                <li>bupkis</li></ol></li>
        </ul>
{% endblocktrans %}
    </td>
</tr></table>
<br />
<p>{% blocktrans %}For details on the markdown syntax, see <a href="http://daringfireball.net/projects/markdown/dingus">Dingus</a>.{% endblocktrans %}</p>
</div>
