<div id="snap_markdown_guide" style="display:none;">

<p><em>*italic*</em> or <em>_italic_</em>, <strong>**bold**</strong> or <strong>__bold__</strong></p>
<p><code>[example](http://www.google.com/ "Title")</code> shows up as <a href="http://www.google.com/" title="Title">example</a></p>
<p>Images - <code>![alt text](/path/img.jpg "Title")</code></p>

<table><tr>
        <td style="width: 50%;">
<p>Indent lines of code blocks by 4 or more spaces</p>
<pre><code>This is a normal paragraph.

    This is a preformatted
    code block.</code></pre>
</td>
<td>
<p>Blockquotes use e-mail style quoting</p>
<pre><code>> Email-style angle brackets
> are used for blockquotes.

> > And, they can be nested.</code></pre>
</td>
</tr></table>

<br />

<table>
    <td style="width: 50%;">
    <p>Lists and unordered lists are nestable and mixable.</p>
<pre><code>*   Abacus
    * answer
*   Bubbles
    1.  bunk
    2.  bupkis</code></pre>
    </td>
    <td>
        <p>... shows up as</p>
        <ul>
            <li>Abacus
            <ul><li>answer</li></ul></li>
            <li>Bubbles
            <ol><li>bunk</li>
                <li>bupkis</li></ol></li>
        </ul>
    </td>
</tr></table>

<br />
<p>For details on the markdown syntax, see <a href="http://daringfireball.net/projects/markdown/dingus">Dingus</a>.</p>
</div>
