{% load extras %}
<div>
<hr class="firstpost" />
{% for post in post_page %}
    <div id="snap_post{{ post.id }}">

        {% if post.censor %}
            <div class="post_censored">
        {% else %}
            {% ifnotequal post.abuse 0 %}
                <div class="post_reported">
            {% endifnotequal %}
        {% endif %}

        <div id="post_rpc_feedback{{ post.id }}" class="rpc_message">
            <!-- This DIV is for RPC feedback messages for individual posts -->
        </div>
        <p class="post_header">
            <span class="post_menuright">
                {% ifequal post.user_id user.id %}
                <span title="Edit this post.  All revisions are saved!" class="popup">
                    <a href="#snap_post{{ post.id }}" onclick="toggle_edit('{{ post.id }}')">edit post</a>
                </span>
                &#149;
                {% endifequal %}
                {% if user.is_staff %}
                <span title="ADMIN: mark this post for censorship" class="popup">
                    <a id="censor{{ post.id }}" href="#snap_post{{ post.id }}" onclick="set_censor('{{ post.id }}');">
                        {{ post.censor|yesno:"uncensor,censor" }}
                    </a>
                </span>
                &#149;
                {% endif %}
                {% if user.is_authenticated and not post.freespeech %}
                <span title="Report this post for violation of forum policies." class="popup">
                    <a id="abuse{{ post.id }}" href="#snap_post{{ post.id }}" onclick="set_abuse('{{ post.id }}');">report abuse</a>
                </span>
                {% endif %}
            </span>

            {% if post.avatar %}
                <img src="{{ SNAP_MEDIA_PREFIX }}/{{ post.avatar }}" />
            {% endif %}
            <b>
                <a href="#snap_post{ post.id }}" onclick="toggle_post('{{ post.id }}');">
                    <span title="POPUP" class="popup">{{ post.user }}</span>
                </a>
            </b>

            {% if post.private.all %}
                to {% for rec in post.private.all %}
                {{ rec }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            {% endif %}

            <span class="timesince">
                <span class="datetime">{{ post.date|date:"r T" }}</span>
            </span>
            <span class="post_summary" style="display:none;" id="snap_post_sum{{ post.id }}">:
                {{ post.text|post_summary:"30" }}
            </span>
        </p>

        <div style="display:block" id="snap_post_view{{ post.id }}">
            <div class="post_text" style="display:block" id="snap_post_text{{ post.id }}">
                {{ post.text|striptags|markdown:"safe" }}
            </div>
            {% if post.previous %}
            <span id="post_revision_links{{ post.id }}" class="post_menuleft">
                <a href="#snap_post_view{{ post.id }}" onclick="revision('{{ post.id }}','{{ post.previous.id }}');">&#171; previous</a>
                <b style="color: #c00">This message has been revised</b>
            </span>
            <br />
            {% endif %}

            {% ifequal post.user_id user.id %}
            <div style="display:none" id="snap_post_edit{{ post.id }}">
                <form action="{{ SNAP_PREFIX }}/edit_post/{{ post.id }}/" method="post">
                <p><b>All revisions of this post are stored and publicly viewable.</b></p>
                <p>{{ post.get_edit_form.post }} {# TODO: what about errors? #}</p>
                <p>
                <input type="submit" value="Update" />
                <input type="hidden" name="next" value="{{ request.path }}" />
                </p>
                </form>
            </div>
            {% endifequal %}
            <br />
        </div>

        {% if post.censor %}
            </div>
        {% else %}
            {% ifnotequal post.abuse 0 %}
                </div>
            {% endifnotequal %}
        {% endif %}
    </div>
    <hr class="postend" />
{% endfor %} {# iterate through posts #}
</div>
<!--
vim: ai ts=4 sts=4 et sw=4
-->
