{% load i18n %}
<div class="forummenu-first">
    {% if user.is_authenticated %}
        <p style="font-size: 122%;">
	<b><a href="{% url snapboard_new_thread %}">{% trans "New Topic" %}</a></b>
        </p>
        <br />
        <p>
	{# TODO: The next line used to be in a blocktrans before using the url tag #}
	    {% trans "You are signed in as" %} <a href="{% url snapboard_edit_settings %}">{{ user.username }}</a>
            {% if user.is_staff %}
            <b>{% trans "(STAFF)" %}</b>
            {% endif %}
        </p>
        <br />
	<p><a href="{{ LOGOUT_URL }}">{% trans "Sign out" %}</a></p>
    {% else %}
        <p>{% trans "You are not logged in." %}</p>
        <br />
        {% if form.has_errors %}
        <p>{% trans "Your username and password didn't match." %}</p>
        {% endif %}

        <form method="post" action="{{ LOGIN_URL }}">
            {{ login_form.as_p }}
            <div>
                <input type="submit" value="{% trans "Sign In" %}" />
                <input type="hidden" name="next" value="{{ request.path }}" />
            </div>
        </form>
        <br />

        <p>{% trans "You need to have a user account in order to contribute to discussions on this forum." %}</p>
        <p style="font-size:small"><a href="/accounts/register/">{% trans "Create an account" %}</a></p>
    {% endif %}
</div>

{% if user.is_staff %}
    <br />
    <div class="forummenu">
    <p><b>{% trans "Admin Shortcuts" %}</b></p>
    <br />
    <ul>
        <li>&#187; <b><a href="/admin/">{% trans "Admin Site" %}</a></b></li>
        <li>&#187; <a href="/admin/snapboard/post/?censor__exact=1">{% trans "Censored posts" %}</a></li>
        <li>&#187; <a href="/admin/snapboard/abusereport/">{% trans "Abuse Reports" %}</a></li>
        <li>&#187; <a href="/admin/snapboard/thread/?csticky__exact=1">{% trans "Category Sticky" %}</a></li>
        <li>&#187; <a href="/admin/snapboard/thread/?gsticky__exact=1">{% trans "Global Sticky" %}</a></li>
    </ul>
    </div>
{% endif %}

{% if user.is_authenticated %}
    <!-- br />
    <div class="forummenu">
    <ul>
        <li>&#187; <a href="#">Watched Topics<b></a> <br /> <a href="#">(2 new!)</b></a></li>
        <li>&#187; <a href="#">Private Posts<b></a> <br /> <a href="#">(4 new!)</b></a></li>
    </ul>
    </div -->
    
    <br />
    <div class="forummenu">
	<p><b><a href="{% url snapboard_edit_settings %}">{% trans "Forum Preferences" %}</a></b></p>
    </div>
{% endif %}
